/* global style */
body{
	font-family: 'Rubik', sans-serif;
}
/*main style*/

h1{
	font-weight: 500;
}

h1 span{
	color:#ab2040;;
}
.trash, .edit{
	cursor: pointer;
	padding: 0 3px;
}
.trash{
	color: #e51313;
	display: inline-block;
}
.edit{
	color: gold;
	display: inline-block;
}
#upDateItem{
	display: none;
}
.alert{
	display:none
}